body{
    background-color: aquamarine;
}
h1{
    font-family: fantasy; 
    text-align: center;
    color: purple;
}
h2{
    font-family: sans-serif;
    text-align-last: center;
    color: royalblue;

}
h3{
    font-size: 20pt;
    font-family: cursive;
    text-align-last: center;



}
p{
   font-family: 'Courier New', Courier, monospace;
   font-size: 14pt;
   color: maroon;
   text-indent: 20pt;
   
}
